
{% load static %}

{%block header_js_css%}
	<link rel="stylesheet" type="text/css" href="/static/front_end/css/util.css">
	<link rel="stylesheet" type="text/css" href="/static/front_end/css/main.css">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/front_end/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/front_end/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/front_end/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/front_end/fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/front_end/vendor/animate/animate.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/front_end/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/front_end/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/front_end/vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/front_end/vendor/daterangepicker/daterangepicker.css">
{%endblock header_js_css%}

{% block page_content %}
	<div class="limiter">
		<div class="container-login100">
			<div class="login100-more" style="background-image: url('/static/front_end/images/bg-01.jpg');"></div>

			<div class="wrap-login100 p-l-50 p-r-50 p-t-72 p-b-50">
				<form class="login100-form validate-form" action="" method="post">
				{% csrf_token %}
					<span class="login100-form-title p-b-59">
						Sign Up
					</span>
					
					
					<div class="wrap-input100 validate-input" data-validate="Name is required">
						<span class="label-input100">First Name</span>
						{{ form.first_name }}
						<span class="focus-input100"></span>
						{{ form.first_name.errors }}
					</div>

					<div class="wrap-input100 validate-input" data-validate="Name is required">
						<span class="label-input100">Last Name</span>
						{{ form.last_name }}
						<span class="focus-input100"></span>
						{{ form.last_name.errors }}
					</div>

					<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
						<span class="label-input100">Email</span>
						{{ form.email }}
						<span class="focus-input100"></span>
						{{ form.email.errors }}

					</div>

					<div class="wrap-input100 validate-input" data-validate = "Password is required">
						<span class="label-input100">Password</span>
						{{ form.password }}
						<span class="focus-input100"></span>
						{{ form.password.errors }}
					</div>

					<div class="wrap-input100 validate-input" data-validate = "Repeat Password is required">
						<span class="label-input100">Repeat Password</span>
						{{ form.confirm_password }}
						<span class="focus-input100"></span>
						{{ form.confirm_password.errors }}
					</div>

					<div class="flex-m w-full p-b-33">
						<div class="contact100-form-checkbox">
							<input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
							<label class="label-checkbox100" for="ckb1">
								<span class="txt1">
									I agree to the
									<a href="#" class="txt2 hov1">
										Terms of User
									</a>
								</span>
							</label>
						</div>

						
					</div>

					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button type="submit" class="login100-form-btn">
								Sign Up
							</button>
						</div>

						<a href="/login/" class="dis-block txt3 hov1 p-r-30 p-t-10 p-b-10 p-l-30">
							Sign in
							<i class="fa fa-long-arrow-right m-l-5"></i>
						</a>
					</div>

				</form>
			</div>
		</div>
	</div>
{% endblock %}



{% block footer_js_css %}
    <script src="/static/front_end/js/main.js"></script>
<!--===============================================================================================-->
	<script src="/static/front_end/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="/static/front_end/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="/static/front_end/vendor/bootstrap/js/popper.js"></script>
	<script src="/static/front_end/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="/static/front_end/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="/static/front_end/vendor/daterangepicker/moment.min.js"></script>
	<script src="/static/front_end/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="/static/front_end/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->







{% endblock %}

